.forma{
    width: 1050px;
    margin-top: 90px;
    
}
.formulario{
    background: linear-gradient(#0077ff, rgb(167, 66, 255), rgb(255, 84, 192));
    border-width: 7px;
    padding: 20px;
    box-shadow: 0px 15px 45px #08a45e;
    border-radius: 20px;  
    
    
}
.respuesta{
    height: 200px;
    background: linear-gradient(#0077ff, rgb(167, 66, 255), rgb(255, 84, 192));
    border-width: 7px;
    padding: 20px;
    box-shadow: 0px 15px 45px #4c096b;
    border-radius: 20px;  

}

.formulario, .respuesta{
    margin-left: 10px;
    border-radius: 6px;
    padding: 30px;
    color:rgb(0, 0, 0)
}


body{
    background-color: black;
}

.form-label{
    font-style: italic;
    font-size: 15px;
    font-weight: 700;
    color: black;
}
.form-control{
    border: none;
    padding: 11px 25px;
    background: transparent;
  
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    border-radius: 8px;
    font-weight: 600;
    color: #000000;
}

.form-control:hover {
    color: #000000;
    box-shadow: 0 2px 10px rgba(240, 55, 234, 0.874);
  }

  .title{
    color: #000000;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .title2{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  }

  .btn{
    margin-bottom: 10px;
    color: #000000;
    background-color: rgb(32, 190, 92);
    font-weight: 600;
    font-size: 15px;
    outline: 1px solid #0a0a0a;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-color: #4d99fc;
    color: #161616;
    cursor: pointer;
  }

.valid-feedback{
    color: #701117;
}

  
